<h1>These are the results for your search</h1>

<% data["articles"].forEach(function(article){ %>
    <li><%= article["title"]  %></li>
<% }) %>

<a href="/"> Search again..!! </a>

<p>
    I hope you liked our results..!!
</p>